/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Geom", sans-serif;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} 
 
header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Bitcount Grid Double Ink', cursive;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 3rem;
    color: #252525; 
    margin-bottom: 1rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Hide the dropdown menu by default */
    top: 100%; /* Position the dropdown menu below the header */ 
}

/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block; /* Show the dropdown menu when the checkbox is checked */
}    

#nav-toggle {
    display: none; /* Hide the checkbox */
}

.nav-toggle-label {
    font-size: 2rem;
}   

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 130px; /* Add margin to prevent content from being hidden behind the fixed header */
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query : tablets and larger (768 px and up) */
@media screen and (min-width: 768px) {
     /* header */
    nav {   display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding: 1rem;
    }

    #menu {
        display: flex;
    } 

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
    font-size: 400%;
    padding-top: 15px;
    line-height: 55px;
    margin: 0 0rem;
}
}

